@media only screen 
and (min-width :975px) {
    *{
        padding: 0; 
        margin: 0; 
    }
button {width: 250px;}

.arrow-right{
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
}

